/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2015, 3:10:03 PM
    Author     : javier
*/

.barre {
    text-decoration: line-through;
}

/*
tr.n-scope {
    background-color: #d9edf7;
}
*/
.ng-dirty.ng-invalid {
    border-color: red;
}

.ng-dirty.ng-valid {
    border-color: #2aabd2;
}

input.ng-dirty.ng-invalid-email {
    border-color: peru;
}