<h1>Nos valeureux coureurs sont au nombre de : {{ coureurs.length }}</h1>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Sexe</th>
            <th>Année</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="coureur in coureurs" >
            <td><a data-ng-href="#/coureur/{{coureur.id}}">{{coureur.fullName}}</a></td>
             <td>{{coureur.gender}}</td>
            <td>{{coureur.birthDate.date | limitTo : 10 |date:'yyyy'}}</td>
        </tr>
    </tbody>
</table>